@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root { height: 100%; }


/* small utility to ensure smooth transitions */
* { transition-timing-function: cubic-bezier(.2,.8,.2,1); }